.App {
  text-align: center;
  font-family: Gidole;
}

.randomImage {
position: relative;
}

.button {
  text-align: center;
  font-family: Gidole;
}

.module > header {
  font-family: Gidole;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
}

.module > header > h1 {
  top: 5px;
  bottom: 5px;
  border: 3px solid #cfcfcf;
  margin-left: 400px;
  margin-right: 400px;
  color: white;
  position: relative;
  text-shadow: 1px 1px #9c9c9c;
  backdrop-filter: blur(10px);
}

.module > header > h2 {
  top: 10px;
  bottom: 20px;
  border: 3px solid #cfcfcf;
  margin-left: 400px;
  margin-right: 400px;
  color: white;
  position: relative;
  text-shadow: 1px 1px #9c9c9c;
  backdrop-filter: blur(10px);
}

.author {
  font-size: 20px;
}

.active {
  margin-left: 10px; 
  float: left;
  text-align: center;

}

.inactive {
    margin-left: 10px; 
    float: left;
    text-align: center;
  
  }


.active img {
  width: 200px;
  height: 200px;
}

.inactive img {
  width: 200px;
  height: 200px;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.on {
  color: rgb(255, 188, 5);
}

.off {
  color: rgb(0, 0, 0);
}

.square {
  font-size: 90px;
}




